{
 "printWidth": 140,
    "tabWidth": 4,
    "useTabs": false,
    "arrowParens": "avoid",
    "semi": true,
    "singleQuote": true,
    "trailingComma": "none",
    "singleAttributePerLine": true,
    "plugins": ["@trivago/prettier-plugin-sort-imports"],
    "importOrder": [
        "^@angular$",
        "rxjs",
        "^(@core)(/.*|$)",
        "^(@shared)(/.*|$)",
        "^(@features)(/.*|$)",
        "^[a-zA-Z]",
        "^[./|~/]"
    ],
    "importOrderSeparation": true,
    "importOrderSortSpecifiers": true,
    "importOrderGroupNamespaceSpecifiers": true,
    "importOrderCaseInsensitive": true,
    "importOrderParserPlugins": ["decorators-legacy", "typescript"]

}