<!-- src/app/features/leave-manager/components/dashboard/dashboard.component.html -->
<div class="dashboard-container">
  <mat-toolbar color="primary" class="flex justify-between">
    <div class="flex items-center">
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span class="ml-2">{{ 'dashboard.title' | transloco }}</span>
    </div>

    <div class="flex items-center gap-2">
      <button mat-icon-button [matMenuTriggerFor]="languageMenu">
        <mat-icon>language</mat-icon>
      </button>
      <button mat-icon-button [matMenuTriggerFor]="userMenu">
        <mat-icon>account_circle</mat-icon>
      </button>
    </div>
  </mat-toolbar>

  <mat-sidenav-container class="h-full">
    <mat-sidenav #sidenav mode="side" opened class="w-64">
      <mat-nav-list>
        <a mat-list-item routerLink="calendar" routerLinkActive="active">
          <mat-icon matListItemIcon>calendar_today</mat-icon>
          {{ 'dashboard.menu.calendar' | transloco }}
        </a>
        <a mat-list-item routerLink="request" routerLinkActive="active">
          <mat-icon matListItemIcon>event</mat-icon>
          {{ 'dashboard.menu.request' | transloco }}
        </a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content class="p-6">
      <div class="container mx-auto">
        <router-outlet />
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>

  <mat-menu #languageMenu="matMenu">
    <button mat-menu-item (click)="switchLanguage('it')">
      <mat-icon>{{ getCurrentLang() === 'it' ? 'check' : '' }}</mat-icon>
      <span>Italiano</span>
    </button>
    <button mat-menu-item (click)="switchLanguage('en')">
      <mat-icon>{{ getCurrentLang() === 'en' ? 'check' : '' }}</mat-icon>
      <span>English</span>
    </button>
  </mat-menu>

  <mat-menu #userMenu="matMenu">
    <button mat-menu-item>
      <mat-icon>person</mat-icon>
      <span>{{ 'dashboard.menu.profile' | transloco }}</span>
    </button>
    <button mat-menu-item>
      <mat-icon>logout</mat-icon>
      <span>{{ 'dashboard.menu.logout' | transloco }}</span>
    </button>
  </mat-menu>
</div>