<div class="page-container">
  <mat-toolbar color="primary">
    <div class="toolbar-content">
      <span>{{ 'dashboard.title' | transloco }}</span>

      <button mat-icon-button [matMenuTriggerFor]="languageMenu">
        <mat-icon>language</mat-icon>
      </button>
    </div>
  </mat-toolbar>

  <div class="content-container">
    <div class="content-wrapper">
      <mat-tab-group animationDuration="300ms" mat-stretch-tabs="false"
                     [(selectedIndex)]="selectedTabIndex"
                     (selectedIndexChange)="onTabChange($event)">

        <!-- Calendar Tab -->
        <mat-tab>
          <ng-template mat-tab-label>
            <div class="tab-label-container">
              <mat-icon>calendar_today</mat-icon>
              <span>{{ 'dashboard.menu.calendar' | transloco }}</span>
            </div>
          </ng-template>

          <app-calendar *ngIf="selectedTabIndex === 0"></app-calendar>
        </mat-tab>

        <!-- Profile Tab -->
        <mat-tab>
          <ng-template mat-tab-label>
            <div class="tab-label-container">
              <mat-icon>person</mat-icon>
              <span>{{ 'dashboard.menu.profile' | transloco }}</span>
            </div>
          </ng-template>

          <app-user-profile *ngIf="selectedTabIndex === 1"></app-user-profile>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>

  <mat-menu #languageMenu="matMenu">
    <button mat-menu-item *ngFor="let lang of availableLanguages"
            (click)="switchLanguage(lang.code)">
      <mat-icon>{{ getCurrentLang() === lang.code ? 'check' : '' }}</mat-icon>
      <span>{{ lang.name }}</span>
    </button>
  </mat-menu>
</div>