// src/app/features/leave-manager/components/dashboard/dashboard.component.scss
.dashboard-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

mat-toolbar {
  z-index: 2;
}

mat-sidenav-container {
  flex: 1;
}

.active {
  background-color: rgba(0, 0, 0, 0.04);
}

mat-sidenav {
  border-right: 1px solid rgba(0, 0, 0, 0.12);
}